<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">

<th:block layout:fragment="css">
    <style>
        a {
            color: black;
        }
    </style>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }
        });
    </script>
    <script>
        $(document).ready(function() {
            $("#join").click(function() {
                var mailFormat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;

                var nickname = $("#nickname").val();
                var email = $("#email").val();
                var password = $("#password").val();

                if(nickname === '') {
                    alert("닉네임을 입력해주세요.");
                    return false;
                }

                if(email === '') {
                    alert("이메일을 입력해주세요.");
                    return false;
                }

                if(!email.match(mailFormat)) {
                    alert("이메일 형식으로 입력해주세요.");
                    return false;
                }

                if(password === '') {
                    alert("비밀번호를 입력해주세요.");
                    return false;
                }

                if(password.length < 6) {
                    alert("비밀번호는 6자 이상 입력해야 합니다.");
                    return false;
                }
            });
        });
    </script>
</th:block>

<div layout:fragment="content">
    <form th:action="@{/member/signup}" method="post" role="form" th:object="${memberDto}" style="width: 50%; margin: 0 auto;">
        <h2>회원가입</h2>
        <hr>
        <div class="form-group">
            <label for="nickname">Nickname</label>
            <input id="nickname" type="text" name="nickname" class="form-control">
        </div>
        <br>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="text" name="email" class="form-control">
        </div>
        <br>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" class="form-control">
        </div>
        <button id="join" type="submit" class="btn btn-primary">가입하기</button>
    </form>
</div>
</html>