<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">

<th:block layout:fragment="css">
    <style>
        a {
            color: black;
        }
        .error {
            color: #bd2130;
        }
        #login_form {
            width: 50%;
            margin: 0 auto;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <form role="form" method="post" action="/member/login" id="login_form">
        <div class="form-group">
            <label th:for="email">Email</label>
            <input type="email" name="email" class="form-control">
        </div>
        <br>
        <br>
        <div class="form-group">
            <label th:for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>
        <br>
        <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
        <button type="submit" class="btn btn-primary">로그인</button>
        <button type="button" class="btn btn-primary" onClick="location.href='/member/signup'">회원가입</button>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
    </form>

    <div class="media-options" style="width: 100%; background-color: lightblue;">
        <a href="/oauth2/authorization/google" class="field google">
            <img src="/img/google.png" alt="" class="google-img">
            <span>Login with Google</span>
        </a>
    </div>
</div>
</html>