<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">

<th:block layout:fragment="css">
  <style>
    a {
      color: black;
    }
  </style>
</th:block>

<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
  <h2>회원 탈퇴</h2>
  <hr>
  <form method="post" th:action="@{'/member/' + ${memberDto.id} + '/delete'}">
    <p>회원 탈퇴하기 버튼을 누르면 다시 되돌릴수 없습니다.</p>
    <p>탈퇴 하시겠습니까?</p>
    <br>
    <br>
    <input type="hidden" id="nickname" name="nickname" th:value="${memberDto.nickname}">
    <input type="hidden" id="email" name="email" th:value="${memberDto.email}">
    <input type="hidden" name="_method" value="DELETE">

    <button id="exit" type="submit" class="btn btn-danger">탈퇴하기</button>
    <a href="/member/info" class="btn btn-success">취소하기</a>
  </form>
</div>
</html>