<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">

<th:block layout:fragment="css">
  <style>
    a {
      color: black;
    }

    .id_ok{
      color:#008000;
      display: none;
    }

    .id_already{
      color:#6A82FB;
      display: none;
    }
  </style>
</th:block>

<th:block layout:fragment="script">
  <script th:inline="javascript">
    $(document).ready(function(){
      var errorMessage = [[${errorMessage}]];
      if(errorMessage != null){
        alert(errorMessage);
      }
    });
  </script>
  <script>
    $(function() {
      $("#nicknameCheck").click(function() {
        var nickname = $("#nickname").val();

        $.ajax({
          url: "/member/nicknameCheck",
          type: "GET",
          data: {"nickname": nickname},
          success: function(data) {
            if(data === 1) {
              alert("이미 존재하는 닉네임 입니다.");
              $("#modify").attr("disabled", true);
            } else {
              alert("사용 가능한 닉네임 입니다.");
              $("#modify").attr("disabled", false);
            }
          }
        });
      });
    });
  </script>
</th:block>

<div layout:fragment="content">
  <div class="container" style="width: 50%; margin: 0 auto;">
    <h2>닉네임 변경</h2>
    <hr>
    <form method="post" th:action="@{'/member/' + ${memberDto.id} + '/update'}">
      <label for="nickname">Nickname</label>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <input id="nickname" type="text" name="nickname" class="form-control" th:value="${memberDto.nickname}">
        </div>
        <div class="col-md-6 mb-3">
          <button id="nicknameCheck" type="button" class="btn btn-primary">중복 체크</button>
        </div>
      </div>
      <input id="email" type="hidden" name="email" class="form-control" th:value="${memberDto.email}" readonly>
      <br>
      <button id="modify" type="submit" class="btn btn-primary" disabled>수정하기</button>
    </form>
  </div>
</div>
</html>