<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/mainLayout}">

<head>
    <meta name="_csrf_header" content="_csrf.headerName">
    <meta name="_csrf" content="_csrf.token">
</head>

<th:block layout:fragment="css">
    <style>
        a {
            color: black;
        }
        .ck.ck-editor__top {
            display: none;
        }
    </style>
</th:block>

<th:block layout:fragment="script">
    <script>
        $(document).ready(function() {
            let likeVal = $("#likeVal").val();

            if(likeVal === 1 || likeVal === '1') {
                $('#likeBtn').attr("class", "btn btn-danger");
            } else if(likeVal === 0 || likeVal === '0') {
                $('#likeBtn').attr("class", "btn btn-light");
            }
        });
    </script>
    <script>
        $(function() {
            $("#likeBtn").click(function() {
                var header = $("meta[name='_csrf_header']").attr('content');
                var token = $("meta[name='_csrf']").attr('content');

                var likeVal = $("#likeVal").val();
                const postId = $("#postId").val();
                const memberId = $("#memberId").val();

                if(likeVal === 1 || likeVal === '1') {
                    $.ajax({
                        type: "POST",
                        url: "/post/like",
                        data: {"postId" : postId, "memberId" : memberId},
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader(header, token);
                        }
                    }).done(function(){
                        $("#likeBtn").attr("class", "btn btn-light");
                        location.reload();
                    }).fail(function (error) {
                        alert(JSON.stringify(error));
                    });
                } else if(likeVal === 0 || likeVal === '0') {
                    $.ajax({
                        type: "POST",
                        url: "/post/like",
                        data: {"postId" : postId, "memberId" : memberId},
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader(header, token);
                        }
                    }).done(function(){
                        $("#likeBtn").attr("class", "btn btn-danger");
                        location.reload();
                    }).fail(function (error) {
                        alert(JSON.stringify(error));
                    });
                }
            });
        });
    </script>
</th:block>

<div layout:fragment="content">
    <div class="container" style="width: 100%">
        <table border="1" style="width: 800px; margin: 0 auto;">
            <tr>
                <th>
                    <h4 th:text="${postsDto.title}"></h4>
                </th>
                <th>
                    <div sec:authorize="isAuthenticated()" class="d-block">
                        <input type="hidden" id="likeVal" name="likeVal" th:value="${like}">
                        <button type="button" id="likeBtn" class="btn btn-light">좋아요</button>
                    </div>
                </th>
            </tr>
            <tr>
                <td><a th:text="${postsDto.writer}" th:href="@{'/member/' + ${postsDto.memberId}}"></a></td>
                <td th:text="${#temporals.format(postsDto.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea type="text" id="content" class="form-control" name="content" th:text="${postsDto.content}"></textarea>
                </td>
            </tr>
        </table>

        <input type="hidden" id="memberId" name="memberId" th:value="${memberId}">
        <input type="hidden" id="postId" name="postId" th:value="${postsDto.id}">

        <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
        <script>
            ClassicEditor
                .create(document.querySelector('#content'))
                .then(editor => {
                    editor.enableReadOnlyMode("content");
                })
                .catch(error => {
                    console.error(error);
                });
        </script>
        <script>
            $(document).ready(function() {
                CKEDITOR.replace('content', {readOnly:true})
            });
        </script>
    </div>

    <br>
    <br>

    <div class="card-container" style="width: 800px; margin: 0 auto;">
        <div id="card-title" style="width: 100%;">
            <h4 th:text="'댓글 ' + ${count}"></h4>
        </div>
        <div class="card" th:each="comment : ${comments}">
            <div class="card-header">
                <a th:text="${comment.nickname}" th:href="@{'/member/' + ${comment.memberId}}"></a>
            </div>
            <div class="card-body">
                <p class="card-text" th:text="${comment.comment}"></p>
            </div>
        </div>
    </div>

    <br>
    <br>

    <form id="comment_form" method="post" th:action="@{'/post/' + ${postsDto.id} + '/write'}" style="width: 800px; margin: 0 auto;">
        <textarea class="form-control" style="height:100px; width:100%;" maxlength='1000' id="comment" name="comment" placeholder="댓글을 입력해주세요."></textarea>
        <button type="submit" id="submitBtn" class="btn btn-outline-primary mr-2">Write</button>
    </form>
</div>
</html>