<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">

<th:block layout:fragment="css">
  <style>
    a {
      color: black;
    }

    .ck.ck-editor {
       width: 100%;
       margin: 0 auto;
    }

    .ck-editor__editable {
      height: 80vh;
    }
  </style>
</th:block>

<th:block layout:fragment="script">
  <script>
    $(document).ready(function() {
      $("#writeBtn").click(function() {
        var title = $("#title").val();
        var content = $("#content").val();
        var type = $("#boardType").val();

        if(title === '') {
          alert("제목은 필수 입력 항목입니다.");
          return false;
        }

        if(type === 'choose...') {
          alert("게시판 종류를 선택해주세요.");
          return false;
        }

        if(content === '') {
          alert("내용은 필수 입력 항목입니다.");
          return false;
        }
      });
    });
  </script>
</th:block>

<div layout:fragment="content">
  <form name="write-form" method="post" th:action="@{/post/write}">
    <div class="container">
      <table class="table table-borderless">
        <tbody>
        <tr>
          <td><input type="text" class="form-control" placeholder="제목을 입력하세요." name="title" maxlength="40"></td>
        </tr>
        <tr>
          <input type="hidden" name="writer" placeholder="작성자 이름" th:value="${member.nickname}">
        </tr>
        <tr>
          <td>
            <select name="boardType" class="form-control">
              <option selected>자유게시판</option>
              <option>공지사항</option>
              <option>질문게시판</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <textarea type="text" id="content" class="form-control" placeholder="글 내용을 작성하세요." name="content" maxlength="1024" style="height: 400px;"></textarea>
          </td>
        </tr>
        </tbody>
      </table>
      <input type="submit" class="btn btn-outline-primary float-right" value="글쓰기">
    </div>
  </form>
  <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
  <script>
    ClassicEditor
            .create(document.querySelector('#content'), {
              ckfinder: {
                uploadUrl: '/image/upload'
              }
            })
            .then(editor => {
              console.log('Editor was initialized');
            })
            .catch(error => {
              console.error(error);
            });
  </script>
</div>
</html>