<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">

<th:block layout:fragment="css">
  <style>
    a {
      color: black;
    }
  </style>
</th:block>

<th:block layout:fragment="script">
  <script>
    $(document).ready(function() {
      $("#writeBtn").click(function() {
        var title = $("#title").val();
        var content = $("#content").val();
        var type = $("#boardType").val();

        if(title === '') {
          alert("제목은 필수 입력 항목입니다.");
          return false;
        }

        if(type === 'choose...') {
          alert("게시판 종류를 선택해주세요.");
          return false;
        }

        if(content === '') {
          alert("내용은 필수 입력 항목입니다.");
          return false;
        }
      });
    });
  </script>
</th:block>

<div layout:fragment="content">
  <div>
    <form name="write-form" method="post" th:action="@{'/post/' + ${postDto.id} + '/update'}">
      <div class="container">
        <table class="table table-borderless">
          <tbody>
          <tr>
            <input type="hidden" name="_method" value="PUT">
          </tr>
          <tr>
            <input id="postId" type="hidden" th:value="${postDto.id}">
          </tr>
          <tr>
            <td><input type="text" class="form-control" name="title" th:value="${postDto.title}" maxlength="40"></td>
          </tr>
          <tr>
            <td>
              <select name="boardType" class="form-control">
                <option selected>자유게시판</option>
                <option>공지사항</option>
                <option>질문게시판</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <textarea type="text" class="form-control" name="content" th:text="${postDto.content}" maxlength="1024" style="height: 400px;"></textarea>
            </td>
          </tr>
          </tbody>
        </table>
        <input type="submit" class="btn btn-outline-primary float-right" value="수정하기">
      </div>
    </form>
  </div>
</div>
</html>