<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">

<th:block layout:fragment="css">
  <style>
    a {
      color: black;
    }
  </style>
</th:block>

<th:block layout:fragment="script">
  <script th:inline="javascript">
    $(document).ready(function(){
      var errorMessage = [[${errorMessage}]];
      if(errorMessage != null){
        alert(errorMessage);
      }
    });
  </script>
  <script>
    $(document).ready(function() {
      $("#writeBtn").on('click', function() {
        alert("로그인 후 이용 가능합니다.");
        window.location.href='/member/login';
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      $(".readBtn").click(function() {
        alert("로그인 후 이용 가능합니다.");
        window.location.href='/member/login';
      });
    });
  </script>
</th:block>

<div layout:fragment="content">
  <div id="container">
    <div id="content">
      <div class="container">
        <div class="row" style="margin-bottom: 50px;">
          <div class="col article-board">
            <div class="table-tit">
              <h3><a th:href="@{/posts}">인기글</a></h3>
            </div>
            <table style="width: 100%" class="board-box">
              <tbody th:each="post : ${popularList}">
              <tr>
                <td>
                  <div sec:authorize="isAnonymous()" class="board-list" style="width: 80%">
                    <a class="readBtn" role="button" th:href="@{/member/login}" th:text="${post.title}"></a>
                  </div>
                  <div sec:authorize="isAuthenticated()" class="board-list" style="width: 80%">
                    <a th:href="@{'/post/read/' + ${post.id}}" th:text="${post.title}"></a>
                  </div>
                </td>
                <td style="width: 20%" th:text="${post.view}"></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col article-board">
            <div class="table-tit">
              <h3><a th:href="@{/posts/notice}">공지사항</a></h3>
            </div>
            <table style="width: 100%" class="board-box">
              <tbody th:each="post : ${noticeList}">
              <tr>
                <td>
                  <div sec:authorize="isAnonymous()" class="board-list" style="width: 80%">
                    <a class="readBtn" role="button" th:href="@{/member/login}" th:text="${post.title}"></a>
                  </div>
                  <div sec:authorize="isAuthenticated()" class="board-list" style="width: 80%">
                    <a th:href="@{'/post/read/' + ${post.id}}" th:text="${post.title}"></a>
                  </div>
                </td>
                <td style="width: 20%" th:text="${post.view}"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col article-board">
            <div class="table-tit">
              <h3><a th:href="@{/posts/free}">자유 게시판</a></h3>
            </div>
            <table style="width: 100%" class="board-box">
              <tbody th:each="post : ${freeList}">
              <tr>
                <td>
                  <div sec:authorize="isAnonymous()" class="board-list" style="width: 80%">
                    <a class="readBtn" role="button" th:href="@{/member/login}" th:text="${post.title}"></a>
                  </div>
                  <div sec:authorize="isAuthenticated()" class="board-list" style="width: 80%">
                    <a th:href="@{'/post/read/' + ${post.id}}" th:text="${post.title}"></a>
                  </div>
                </td>
                <td style="width: 20%" th:text="${post.view}"></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col article-board">
            <div class="table-tit">
              <h3><a th:href="@{/posts/question}">질문 게시판</a></h3>
            </div>
            <table style="width: 100%" class="board-box">
              <tbody th:each="post : ${questionList}">
              <tr>
                <td>
                  <div sec:authorize="isAnonymous()" class="board-list" style="width: 80%">
                    <a class="readBtn" role="button" th:href="@{/member/login}" th:text="${post.title}"></a>
                  </div>
                  <div sec:authorize="isAuthenticated()" class="board-list" style="width: 80%">
                    <a th:href="@{'/post/read/' + ${post.id}}" th:text="${post.title}"></a>
                  </div>
                </td>
                <td style="width: 20%" th:text="${post.view}"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</html>